* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.header {
  background-color: #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%; /* Full-width header */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
}

.navbar h1 {
  color: white;
  font-size: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #bbb;
  border-radius: 50%;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 60px; /* Ensures it's placed under the navbar */
}

.header-item {
  text-align: center;
  margin: 50px;
  font-size: 20px;
}

.spent {
  color: red;
}

.budget {
  color: black;
}

.remaining {
  color: green;
}

.title {
  text-align: center;
  margin-top: 80px; /* Adjusted for the fixed navbar and top section */
  font-size: 2em;
  margin-bottom: 20px;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 0;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.category-card {
  background-color: white;
  border: 1px solid #ccc;
  flex: 1 1 150px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

.controls label {
  margin-right: 5px;
}

.controls select, .controls button {
  margin: 0 5px;
  padding: 5px 10px;
}

.table {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .top {
      flex-direction: column;
      align-items: center;
  }

  .header {
      flex-direction: column;
  }

  .profile {
      justify-content: center;
      margin-top: 10px;
  }

  .section {
      flex-direction: column;
      align-items: center;
  }

  .category-card {
      width: 100%;
      max-width: none;
  }

  .controls {
      flex-direction: column;
      align-items: center;
  }

  .table {
      padding: 0;
  }
}
